
.apply-section {
    margin-top: 96px; /* 1 inch after last cards */
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.apply-button-list {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.apply-button-list .apply-mobile {
    display: inline-block;
}

.apply-button-list .apply-btn {
    font-size: 20px;
    padding: 18px 32px;
    background-color: rgba(90, 26, 219, 0.1);
    color: black !important;
    border-radius: 30px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.apply-button-list .apply-btn:hover {
    background-color: rgba(208, 187, 255, 0.42);
    color: black !important;
    transform: scale(1.05);
}

.alumni-card {
    height: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 1.5rem;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 12px 24px rgba(130, 100, 255, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    /*padding-bottom: 1rem;*/
}
 .alcard-body {
      padding: 1.25rem 1.5rem 1.8rem;
    }
