.gradient-text-global {
    background: linear-gradient(108.4deg, rgb(204, 146, 177) 6.9%, rgb(113, 111, 185) 86.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 10s ease infinite;
    background-size: 200% 200%;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-text-global-big-size {
    background: linear-gradient(108.4deg, rgb(204, 146, 177) 6.9%, rgb(113, 111, 185) 86.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 4em;
    animation: gradientMove 10s ease infinite;
    background-size: 200% 200%;
}
.banner-global {
    /*transform: scale();*/
    transform-origin: top center;
    margin-top: -40px;
    margin-bottom: 100px; /* Added space below banner */
    width: 100%;
    padding: 40px;
    background-image: linear-gradient(108.4deg, rgba(220, 194, 255, 0.69) 6.9%, rgba(185, 223, 248, 0.68) 86.5%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    position: relative;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    transition: background 0.5s ease-in-out;
    text-align: center;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.fat_hr {
    border: 3px solid #b3a8cb; /* Increased thickness of the hr */
    width: 100%; /* Adjust the length to match heading width */
    /*margin: 1.5rem auto; !* Centers the hr and adds spacing *!*/
    border-radius: 1rem; /* Rounded corners */
}