

.container {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 20px;
}

.glass-card {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.icofont{
  font-size: 3rem;
  color: #9e61ff;
  display: block;
  text-align: center;
  margin-bottom: 2px;
}

.glass-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.glass-text {
    text-align: center;
    padding: 10px;
    color: #b3a8cb;
    font-weight: 600;
    font-size: 1.1rem;
    /* text-shadow: 0 0 5px rgba(90, 26, 219, 0.1); */
}