{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Academic Calendar | CSE - UAP</title>
  <link rel="stylesheet" href="{% static 'css/academic_calender.css' %}">
      <link rel="stylesheet" href="{% static 'css/global.css' %}">
{% endblock %}

{% block content %}
    <div class="banner-global">
    <h1 class="gradient-text-global">Academic Calendar</h1>
    </div>
    {% if calendars %}
        {% for calendar in calendars %}
            <div class="pdf-container">
                <h3>{{ calendar.title }}</h3>
                <p>PDF URL: <a href="{{ calendar.pdf_file.url }}" target="_blank">{{ calendar.pdf_file.url }}</a></p>
                <embed src="{{ calendar.pdf_file.url }}" type="application/pdf" width="100%" height="600px" />
            </div>
        {% endfor %}
    {% else %}
        <p class="no-results">No academic calendar available.</p>
    {% endif %}
{% endblock %}
