<!-- curriculum.html -->
{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Curriculum | CSE - UAP</title>
    <style>
        body {
            font-family: Lexend, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            color: #333;
        }

        h1, h2, h3 {
            text-align: center;
             background-image: linear-gradient( 108.4deg, rgba(220,194,255,1) 6.9%, rgba(185,223,248,1) 86.5% );
            padding: 10px;  /* Add some padding around the text */
            border-radius: 5px;  /* Slightly round the corners */
        }

        h1 {
            font-size: 2.5em;
            margin-top: 50px;
        }

        h2 {
            margin-top: 30px;
            font-size: 1.8em;
            border-bottom: 2px solid #bda9f8;
            padding-bottom: 5px;
            color: #5A3E90;
        }

        h3 {
            font-size: 1.2em;
            margin-bottom: 10px;
            color: #5A3E90;
        }

        .pdf-container {
            margin: 20px auto;
            background-color: var(--bg-shade);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 15px;
            width: 90%;
            max-width: 1100px;
        }

        .pdf-container p {
            font-size: 1em;
            color: var(--txt-color);
        }

        .pdf-container a {
            color: #9896e8;
            text-decoration: none;
        }

        .pdf-container a:hover {
            text-decoration: underline;
        }

        iframe {
            border: none;
            width: 100%;
            height: 600px;
            border-radius: 8px;
            margin-top: 20px;
        }

        .no-results {
            font-style: italic;
            text-align: center;
            color: #777;
        }

        @media (max-width: 768px) {
            iframe {
                height: 400px;
            }

            .pdf-container {
                width: 100%;
                padding: 10px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="banner-global">
    <h1 class="gradient-text-global">Curriculum</h1>
    </div>
    {% if curriculums %}
        {% for curriculum in curriculums %}
            <div class="pdf-container">
                <h3>{{ curriculum.title }}</h3>
                <p>PDF URL: <a href="{{ curriculum.pdf_file.url }}" target="_blank">{{ curriculum.pdf_file.url }}</a></p>
                <embed src="{{ curriculum.pdf_file.url }}" type="application/pdf" width="100%" height="600px" />
            </div>
        {% endfor %}
    {% else %}
        <p class="no-results">No curriculum available.</p>
    {% endif %}
{% endblock %}
