{% extends "base.html" %}
{% load static %}

{% block title %}Our Alumni{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/alumni.css' %}">
    <link rel="stylesheet" href="{% static 'css/faculty.css' %}">
{% endblock %}


{% block content %}
    <div class="banner-global">
        <h1 class="gradient-text-global-big-size">Alumni</h1>
    </div>
    <div class="container">

        <div class="row g-4">
                <!-- Faculty 1 -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="faculty-card text-center">
                        <div class="profile-img-container">
                            <img src="{% static 'img/alumni1.png' %}" alt="Faculty" class="profile-img" />
                        </div>
                        <div class="card-body text-start">
                            <div class="top-row mb-1">
                                <div>
                                    <div class="gradient-text-global card-title">Dr. Shah  Al Masud</div>
                                    <div class="card-subtitle">CEO, ComJagat Technologies Limited</div>
                                    <div class="citation-count">Year of Graduation: 2003</div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Faculty 2 -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="faculty-card text-center">
                        <div class="profile-img-container">
                            <img src="{% static 'img/alumni2.png' %}" alt="Faculty" class="profile-img" />
                        </div>
                        <div class="card-body text-start">
                            <div class="top-row mb-1">
                                <div>
                                    <div class="gradient-text-global card-title">Dr. Farzana Rahman</div>
                                    <div class="card-subtitle">Associate Professor, EEE</div>
                                </div>

                            </div>
                            <p class="card-text">
                                Specialist in Renewable Energy Systems and Smart Grid technologies. Enthusiastic about research and outreach.
                            </p>
                        </div>
                    </div>
                </div>


                <!-- Faculty 3 -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="faculty-card text-center">
                        <div class="profile-img-container">
                            <img src="{% static 'img/alumni5.jpg' %}" alt="Faculty" class="profile-img" />
                        </div>
                        <div class="card-body text-start">
                            <div class="top-row mb-1">
                                <div>
                                    <div class="gradient-text-global card-title">Dr. Farzana Rahman</div>
                                    <div class="card-subtitle">Assistant Professor, Arch</div>
                                </div>

                            </div>
                            <p class="card-text">
                                Focused on sustainable architecture and parametric design. Loves combining design with data.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <hr class="fat_hr">
            <div class="row g-4">
                <!-- Faculty 1 -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="faculty-card text-center">
                        <div class="profile-img-container">
                            <img src="{% static 'img/alumni3.png' %}" alt="Faculty" class="profile-img" />
                        </div>
                        <div class="card-body text-start">
                            <div class="top-row mb-1">
                                <div>
                                    <div class="gradient-text-global card-title">Dr. Shah Murtaza Rashid Al Masud</div>
                                    <div class="card-subtitle">Professor, Dept. of CSE</div>
                                </div>

                            </div>
                            <p class="card-text">
                                Expert in Machine Learning, Data Mining & High-Performance Computing.
                                Passionate about student development and academic excellence.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Faculty 2 -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="faculty-card text-center">
                        <div class="profile-img-container">
                            <img src="{% static 'img/alumni3.png' %}" alt="Faculty" class="profile-img" />
                        </div>
                        <div class="card-body text-start">
                            <div class="top-row mb-1">
                                <div>
                                    <div class="gradient-text-global card-title">Dr. Farzana Rahman</div>
                                    <div class="card-subtitle">Associate Professor, EEE</div>
                                </div>

                            </div>
                            <p class="card-text">
                                Specialist in Renewable Energy Systems and Smart Grid technologies. Enthusiastic about research and outreach.
                            </p>
                        </div>
                    </div>
                </div>


                <!-- Faculty 3 -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="faculty-card text-center">
                        <div class="profile-img-container">
                            <img src="{% static 'img/alumni5.jpg' %}" alt="Faculty" class="profile-img" />
                        </div>
                        <div class="card-body text-start">
                            <div class="top-row mb-1">
                                <div>
                                    <div class="gradient-text-global card-title">Dr. Farzana Rahman</div>
                                    <div class="card-subtitle">Assistant Professor, Arch</div>
                                </div>

                            </div>
                            <p class="card-text">
                                Focused on sustainable architecture and parametric design. Loves combining design with data.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!--  New Section for Apply Buttons -->
    <section class="apply-section">
        <ul class="apply-button-list">
            <li class="apply-mobile"><a href="{% url 'alumni_stories' %}" class="apply-btn">Alumni Stories</a></li>
            <li class="apply-mobile"><a href="{% url 'alumni_association' %}" class="apply-btn">Alumni Association</a></li>
        </ul>
    </section>

{% endblock %}

