{% extends "base.html" %}
{% load static %}

{% block title %}Our Faculty{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/faculty.css' %}">
<link rel="stylesheet" href="{% static 'css/alumni.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
    <h1 class="gradient-text">Alumni</h1>
</div>
<section class="faculty-section">

    <hr style="border: 3px solid #b3a8cb;
        width: 100%;
        margin: 1.5rem auto;
        border-radius: 1rem;">

    <div class="faculty-container">
        <div class="faculty-card">
            <img src="../static/img/p1.png" alt="Md Abdul Wahed Tomal">
            <div class="card-info">
               <h3>Md Abdul Wahed Tomal</h3>
               <p>CEO, ComJagat Technologies Limited</p>
               <p>Year of Graduation: 2003</p>
            </div>
        </div>
    </div>

    <div class="faculty-container">
        <div class="faculty-card">
            <img src="../static/img/p2.jpg" alt="Dr. Shantanu Chakraborty">
            <div class="card-info">
                <h3>Dr. Shantanu Chakraborty</h3>
                <p>Senior R&amp;D Expert in AI, ML &amp; Energy, Australia</p>
                <p>Year of Graduation: 2004</p>
            </div>
        </div>
        <div class="faculty-card">
            <img src="../static/img/p3.jpg" alt="Towhid Hossain">
            <div class="card-info">
               <h3>Towhid Hossain</h3>
               <p>CEO, FIFOTech</p>
               <p>Year of Graduation: 2004</p>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="card active" style="background-image: url('../static/img/p2.jpg');">
            <div class="overlay">
                <h3>Dr. Shah Murtaza Rashid Al Masud</h3>
                <p>Professor & Head of Department</p>
            </div>
        </div>
        <div class="card" style="background-image: url('../static/img/p1.png');">
            <div class="overlay">
                <h3>Khan Mohummad Kaisar</h3>
                <p>Vice Chairman CoED, The Institution of Engineers, Bangladesh (IEB)</p>
                <p>Year of Graduation: 2002</p>
            </div>
        </div>
        <div class="card" style="background-image: url('../static/img/p3.jpg');">
            <div class="overlay">
                <h3>Al Asma Begum</h3>
                <p>Senior Business Analyst, BBC, Design & Engineering Division (London)</p>
                <p>Year of Graduation: 2001</p>
            </div>
        </div>
    </div>

    <!--  New Section for Apply Buttons -->
    <section class="apply-section">
        <ul class="apply-button-list">
            <li class="apply-mobile"><a href="{% url 'alumni_stories' %}" class="apply-btn">Alumni Stories</a></li>
            <li class="apply-mobile"><a href="{% url 'alumni_association' %}" class="apply-btn">Alumni Association</a></li>
        </ul>
    </section>

    <script src="../static/js/faculty.js"></script>
</section>
{% endblock %}
