{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/icofont.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">

{% endblock %}

{% block content %}
    <br><br><br>

    <h1 class="text-center fw-bold">Department of CSE</h1>
    <h2 class="text-center mb-5">University of Asia Pacific</h2>

    <div class="container py-5">
        <div class="row justify-content-center g-4">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="glass-card">
                    <i class="icofont icofont-university"></i>
                    <span class="glass-text">Why study CSE at UAP?</span></div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="glass-card">
                    <i class="icofont icofont-teacher"></i>
                    <span class="glass-text">Faculty & Stuff</span></div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="glass-card">
                    <i class="icofont icofont-book-alt"></i>
                    <span class="glass-text">Research & Publications</span></div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="glass-card">
                    <i class="icofont icofont-certificate-alt-1"></i>
                    <span class="glass-text">Club & Events</span></div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="glass-card">
                    <i class="icofont icofont-bell-alt"></i>
                    <span class="glass-text">Notice Board</span></div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="glass-card">
                    <i class="icofont icofont-graduate-alt"></i>
                    <span class="glass-text">Get up to 100% Scholarship</span></div>
            </div>
        </div>
    </div>

    <hr>

<div class="container py-5">
    <div class="row justify-content-center g-4">

        <!-- Mission Card -->
        <div class="col-12 col-md-6 col-lg-4 d-flex">
            <div class="mission-card p-4 w-100 text-center d-flex flex-column">
                <i class="icofont icofont-medal"></i>
                <span class="glass-text d-block mb-2">Mission</span>
                <p class="flex-grow-1" style="text-align: justify;">
                    The department of CSE, UAP is striving for a pioneer role in ICT through excellence in education, research and development towards preparing graduates as a global leader with quality education, innovative ideas, extra-curricular activities and collaboration between industry and academia.
                </p>
            </div>
        </div>

        <!-- Vision Card -->
        <div class="col-12 col-md-6 col-lg-4 d-flex">
            <div class="mission-card p-4 w-100 text-center d-flex flex-column">
                <i class="icofont icofont-brainstorming"></i>
                <span class="glass-text d-block mb-2">Vision</span>
                <p class="flex-grow-1" style="text-align: justify;">
                    The Department of CSE believes in the pursuit of excellence by developing students in creating, applying and imparting knowledge of ICT. Educational curriculum, research and collaboration between academia and industry are given the highest priority. CSE, UAP aspires to produce graduates capable of taking leadership in the field of their best.<br><br>
                    We nurture graduates in:<br>
                    • Understanding the basic principles of computational, electronic and modern technologies.<br>
                    • Promoting creativity by applying their theoretical knowledge in practical problem-solving.<br>
                    • Enabling them to communicate ideas clearly and concisely both in written and verbal forms.<br>
                    • Creating awareness about environment, social responsibility, and economic development within the ethical boundaries.<br>
                    • Engaging for further research or professional involvement.
                </p>
            </div>
        </div>

        <!-- Inside CSE, UAP Card -->
        <div class="col-12 col-md-6 col-lg-4 d-flex">
            <div class="mission-card p-4 w-100 text-center d-flex flex-column">
                <i class="icofont icofont-university"></i>
                <span class="glass-text d-block mb-2">Inside CSE, UAP</span>
                <p class="flex-grow-1" style="text-align: justify;">
                    Explore our vibrant campus culture, well-equipped labs, dynamic classrooms, passionate faculty, and student-driven clubs that shape future innovators.
                </p>
                <iframe height="250" src="https://www.youtube.com/embed/azdNa4-F6FQ?si=nyDCqTkxCIZjCap0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</div>




{% endblock %}
