{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/css/icofont.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">

{% endblock %}

{% block content %}
<br><br><br>

<h1 class="text-center fw-bold">Department of CSE</h1>
<h2 class="text-center mb-5">University of Asia Pacific</h2>

    <div class="container py-5">
  <div class="row justify-content-center g-4">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
      <div class="glass-card">
          <i class="icofont icofont-university"></i>
          <span class="glass-text">Why study CSE at UAP?</span></div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
      <div class="glass-card">
          <i class="icofont icofont-teacher"></i>
          <span class="glass-text">Faculty & Stuff</span></div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
      <div class="glass-card">
          <i class="icofont icofont-book-alt"></i>
          <span class="glass-text">Research & Publications</span></div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
      <div class="glass-card">
         <i class="icofont icofont-certificate-alt-1"></i>
          <span class="glass-text">Club & Events</span></div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
      <div class="glass-card">
         <i class="icofont icofont-bell-alt"></i>
          <span class="glass-text">Notice Board</span></div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
      <div class="glass-card">
          <i class="icofont icofont-graduate"></i>
          <span class="glass-text">Get up to 100% Scholarship</span></div>
    </div>
  </div>
</div>
{% endblock %}
